
/* Noto Sans JP - Google Fonts */ 
@import url( https://fonts.googleapis.com/earlyaccess/notosansjp.css );

body {
  background-color: whitesmoke;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 30px;
}

td{
  vertical-align: top;
}

#videoContainer {
  border: 5px solid;
  border-color: black;
}

#video {
	background-color: black;
}

#hiddenContainer {
  display: none;
}

#titleText {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

#descriptionText {
  font-size: 16px;
  margin-bottom: 15px;
}

#flipCameraImage {
  z-index: 2;
  position: absolute;
  opacity: 0.3;
  margin-left: 20px;
  margin-top: 20px;
}

#decodedData {
  font-size: 12px;
}

/* WARNING: in table tag */ 
div.operation {
  font-size: 15px;
  margin-left: 20px;
}

/* WARNING: in table tag */ 
div.operationTitleText {
  margin-top: 20px;
  margin-bottom: 6px;
  text-align: left;
  font-weight: 500;
}

/* WARNING: in table tag */ 
div.operationTitleTextTop {
  margin-bottom: 6px;
  text-align: left;
  font-weight: 500;
}

/* WARNING: in table tag */ 
div.operationContent {
  text-align: left;
  margin-left: 20px;
}

#copyWriteText {
  margin-top: 20px;
  font-size: 12px;
}

#copyWriteText a { color: black } 
